<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <description>displayer root spring config</description>
    <!-- 加载属性配置文件 -->
    <context:property-placeholder ignore-unresolvable="true"
                                  location="classpath*:/org/silencer/doorche/admin/config/application.properties"/>

    <context:component-scan base-package="org.silencer">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="jdbcUrl" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.user}"/>
        <property name="password" value="${jdbc.pass}"/>

    </bean>

    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan">
            <list>
                <!-- 可以加多个包 -->
                <value>org.silencer.doorche.entity</value>
                <value>org.silencer.doorche.admin.entity</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">${hibernate.dialect}</prop>
                <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
                <prop key="hibernate.cache.use_second_level_cache">true</prop>
                <prop key="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</prop>
                <prop key="hibernate.cache.provider_configuration_file_resource_path">
                    org/silencer/doorche/cache/ehcache-local.xml
                </prop>
                <prop key="hibernate.current_session_context_class">
                    org.springframework.orm.hibernate4.SpringSessionContext
                </prop>

            </props>
        </property>
        <property name="entityInterceptor" ref="doorcheEntityInterceptor"/>
    </bean>
    <bean id="doorcheEntityInterceptor" class="org.silencer.doorche.support.DoorcheEntityInterceptor"/>

    <!-- 配置Hibernate事务管理器 -->
    <bean id="transactionManager"
          class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!--默认使用jdk代理，在创建包含@Transactional注解的service实例对象时将事务性功能织入代理实例中-->
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <!-- Ehcache实现 -->
    <bean id="ehcacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
        <property name="configLocation" value="classpath:/org/silencer/doorche/cache/ehcache-local.xml"/>
    </bean>
    <bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager">
        <property name="cacheManager" ref="ehcacheManager"/>
    </bean>

    <!-- 定义国际化消息-->
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <!--
        其中basename用来指定properties文件的通用名
        如实例中的messages_en.properties,messages_ja.properties通用名都是messages
        -->
        <property name="basename" value="org.silencer.doorche.admin.config.18n.messages"/>
        <!-- 如果在国际化资源文件中找不到对应代码的信息，就用这个代码作为名称  -->
        <property name="useCodeAsDefaultMessage" value="true"/>
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>


    <import resource="applicationContext-security.xml"/>
    <import resource="applicationContext-activiti.xml"/>


</beans>